<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background: rebeccapurple">
    <div style="display: inline-block;width:14%;">1</div>
    <div style="display: inline-block;width:14%;">1</div>
    <div style="display: inline-block;width:14%;">1</div>
    <div style="display: inline-block;width:14%;">1</div>
    <div style="display: inline-block;width:14%;">1</div>
    <div style="display: inline-block;width:14%;">1</div>
    <div style="display: inline-block;width:14%;">1</div>
</div>
</body>
</html>